.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
    margin: 0;
    font-size: larger;
    color: aliceblue;
}

.homeNavigation {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.pagesNavigation {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    gap: 20px;
}